@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  /* body font */
  --body-font: "Jost", Helvetica, Arial, sans-serif;
  --body-font-size: 18px;
  --body-font-color: #606060;
  --body-font-color-bg-dark: rgba(255, 255, 255, .75);
  --body-font-weight: 400;
  /* heading font */
  --heading-font: "Jost", Helvetica, Arial, sans-serif;  
  --heading-font-weight: 400;
  --heading-font-color: #181D24;
  --heading-font-color-bg-dark: #ffffff;
  --heading-text-transform: none;
  /* h1 */
  --h1-font-size: 60px;
  --h1-font-weight: var(--heading-font-weight);
  --h1-letter-spacing: -0.02em;
  --h1-line-height: 1.15em;
  --h1-margin-bottom: 20px;
  /* h2 */
  --h2-font: var(--heading-font);
  --h2-font-size: 52px;
  --h2-font-weight: var(--heading-font-weight);
  --h2-letter-spacing: -0.02em;
  --h2-line-height: 1.2em;
  --h2-margin-bottom: 25px;
  /* h3 */
  --h3-font-size: 26px;
  --h3-font-weight: 500;
  --h3-letter-spacing: 0;
  --h3-line-height: 1.5em;
  --h3-margin-bottom: 10px;
  /* h4 */
  --h4-font-size: 20px;
  --h4-font-weight: 500;
  --h4-letter-spacing: 0;
  --h4-line-height: 1.6em;
  --h4-margin-bottom: 10px;
  /* h5 */
  --h5-font-size: 18px;
  --h5-font-weight: 500;
  --h5-letter-spacing: 0;
  --h5-line-height: 1.6em;
  --h5-margin-bottom: 10px;
  /* h6 */
  --h6-font-size: 16px;
  --h6-font-weight: 500;
  --h6-letter-spacing: 0;
  --h6-line-height: 1.6em;
  --h6-margin-bottom: 10px;
  /* mainmenu */
  --mainmenu-font: var(--body-font);
  --mainmenu-font-size: 16px;
  --mainmenu-font-weight: 500;
  --mainmenu-letter-spacing: 0;
  --mainmenu-text-transform: none;
  /* subheader */
  --subheader-title-font-size: 60px;
  --subheader-title-text-transform: none;
  /* header logo */
  --logo-width: 240px;
  --logo-footer-width: 150px;
  /* misc */
  --border-default: solid 1px rgba(30, 30, 30, 1);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-light: #F8F9FA;
  --bg-dark-1: #101010;
  --bg-dark-2: #202020;
  --bg-dark-3: #303030;  
  --bg-dark-1-rgb: 16, 16, 16;
  --bg-grey: #eeeeee;
  --bg-gradient-1: 0deg, rgba(var(--primary-color-rgb), .1) 0%, rgba(var(--secondary-color-rgb), .2) 100%;
  --swiper-theme-color: var(--secondary-color);
  --rounded-1: 16px;
  --border-color:#bbbbbb;
  --container-max-width:1240px;
  /* button */
  --btn-color: #fff;
  --btn-hover-bg: var(--primary-color);
  --btn-font-family: var(--body-font);
  --btn-font-size: 15px;
  --btn-font-weight: 500;
  --btn-letter-spacing: 0;
  --btn-padding: 6px 30px 6px 30px;
  --btn-rounded: 30px;
  --btn-text-decoration: none;
  --btn-text-transform: uppercase;
}
